@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Lato, sans-serif;
    font-weight: 300;
    color: darkslategray
}

h1, h2, h3 {
    font-family: Roboto, sans-serif;
    color: darkslategray;
    text-transform: uppercase;
    letter-spacing: 3px;
}

hr {
    border-bottom: 2px solid darkslategray;
    margin: 2rem;
}
/* logo */

#logo {
    margin: 2rem;
    font-family: Roboto, sans-serif;
    font-size: xxx-large;
    text-decoration: none;
    display: flex;
    justify-content: space-around
}

/* nav elements */

nav {
    display:flex;
    justify-content: space-evenly;
}

a {
    text-decoration: none;
    font-family: Roboto, sans-serif;
    font-size: large;
    color: darkslategray;
}

a:hover {
    border-bottom: 1px solid #3a3a3a;
}


/* content */

.flex-box {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

div > p {
    width: 600px;
    font-size: 120%;
    margin: 1rem;
    text-align: center;
}

.hero-outer{
    height: 80%;
    width: 80%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    margin:auto;
}

#hero-image{
    height: inherit;
    width: inherit;
    margin: 2rem;
}


/* exercises */

h2{
    display: flex;
    justify-content: center;
}
.exercise-outer{
    height: 50%;
    width: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    margin:auto;
}

#exercise-image{
    height: inherit;
    width: inherit;
    margin: 2rem;
}

#deadlift{
    height: inherit;
    width: inherit;
    margin: 2rem;
}

#squat{
    height: inherit;
    width: inherit;
    margin: 2rem;
}

#calf-raise{
    height: inherit;
    width: inherit;
    margin: 2rem;
}

#hip-thruster{
    height: inherit;
    width: inherit;
    margin: 2rem;
}

/* session */

.session-outer{
    height: 80%;
    width: 80%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    margin:auto;
}
#session-image{
    height: inherit;
    width: inherit;
    margin: 2rem;
}


/* table element */

.flex-box-session{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
}

.flex-box-session p{
    width: auto;
    height: auto;
}

table{
    width: auto;
    height: auto;
    text-align: center;
    margin: 2rem;
    color: white;
}
table, th, td{
    border: 1px solid white;
    background-color: darkslategray;
}

/* footer */

footer {
    height: 125px;
    background: fixed darkslategray;
}

footer h3 {
    color: white;
    text-align: center;
    margin: 2rem;
}

.contacts {
    text-align: center;
    display: flex;
    justify-content: space-evenly;
}

.contacts > li {
    color: white;
    list-style-type: none;
    font-size: 120%;
}

.contacts i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: white;
}