@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Lato, sans-serif;
    font-weight: 300;
    color: darkslategray
}

h1, h2, h3 {
    font-family: Roboto, sans-serif;
    color: darkslategray;
    text-transform: uppercase;
    letter-spacing: 3px;
}

hr {
    border-bottom: 2px solid darkslategray;
    margin: 2rem;
}
/* logo */

#logo {
    margin: 2rem;
    font-family: Roboto, sans-serif;
    font-size: xxx-large;
    text-decoration: none;
    display: flex;
    justify-content: space-around
}

/* nav elements */

nav {
    display:flex;
    justify-content: space-evenly;
}

a {
    text-decoration: none;
    font-family: Roboto, sans-serif;
    font-size: large;
    color: darkslategray;
}

a:hover {
    border-bottom: 1px solid #3a3a3a;
}


/* content */

.flex-box {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

div > p {
    width: 600px;
}

/* footer */
footer {
    height: 150px;
    background: fixed darkslategray;
}

footer > h3 {
    color: white;
    text-align: center;
    margin: 2rem;
}

.contacts {
    text-align: center;
    display: flex;
    justify-content: space-evenly;
}

.contacts > li {
    color: white;
    list-style-type: none;
}

.contacts i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: white;
}